In [1]:
import pandas as pd

In [2]:
invoices = pd.read_csv('https://raw.githubusercontent.com/FBosler/you-datascientist/master/invoices.csv')

In [3]:
invoices.sample(5)

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
21378,Y6V76P8KYGRGDXI6,2018-07-01,EJTY6RX1QK42P066,CS0IZ0QKD3RN1G6J,2018-07-04 20:00:00+02:00,['Charles Wilkerson'],443.0,Dinner,False
917,SF8S3G904WD7RGI5,2015-05-05,OB124MG374UDX65D,POZ4YPQEAJ1C3JHI,2015-05-02 08:00:00+02:00,['Andrea Chausse'],37.0,Breakfast,False
625,OUX9R358OSYKZ5U2,2015-12-20,0G9SV16AURG363TE,KUNM2HEWXTYDWDQN,2015-12-15 12:00:00+01:00,['Jessica Vernon'],743.0,Lunch,False
15139,I1X6FEK0GZL2577M,2017-03-13,3Y2ZVN0QXB96ON1E,KOIRPC20A5RRYXP0,2017-03-15 12:00:00+01:00,['Wade Miller'],133.0,Lunch,False
43063,ZWQA8R6EIYBYOVR5,2014-03-12,ONBNLMD6ESBGMF5Z,RK15ZABW88FL6IOW,2014-03-07 08:00:00+01:00,['Robin Sliwa'],16.0,Breakfast,False

In [7]:
invoices.dtypes

Order Id              object
Date                  object
Meal Id               object
Company Id            object
Date of Meal          object
Participants          object
Meal Price           float64
Type of Meal          object
Heroes Adjustment       bool
dtype: object

In [11]:
invoices['Type of Meal'] = invoices['Type of Meal'].astype('category')
invoices['Date'] = invoices['Date'].astype('datetime64')
invoices['Meal Price'] = invoices['Meal Price'].astype('int')

In [12]:
invoices.dtypes

Order Id                     object
Date                 datetime64[ns]
Meal Id                      object
Company Id                   object
Date of Meal                 object
Participants                 object
Meal Price                    int32
Type of Meal               category
Heroes Adjustment              bool
dtype: object

In [14]:
invoices.loc[45612,'Meal Price'] = 'I am causing trouble'
invoices.loc[35612,'Meal Price'] = 'Me too'

In [15]:
invoices['Meal Price'].astype('int')

ValueError: invalid literal for int() with base 10: 'Me too'

In [17]:
invoices['Meal Price'].apply(lambda x:type(x)).value_counts()

<class 'int'>    50015
<class 'str'>        2
Name: Meal Price, dtype: int64

In [20]:
invoices['Meal Price'][invoices['Meal Price'].apply(lambda x: isinstance(x,str))]

35612                  Me too
45612    I am causing trouble
Name: Meal Price, dtype: object

In [22]:
invoices['Meal Price'] = pd.to_numeric(invoices['Meal Price'], errors = 'coerce')

In [23]:
invoices.dtypes

Order Id                     object
Date                 datetime64[ns]
Meal Id                      object
Company Id                   object
Date of Meal                 object
Participants                 object
Meal Price                  float64
Type of Meal               category
Heroes Adjustment              bool
dtype: object

In [26]:
invoices['Meal Price'] = invoices['Meal Price'].fillna(invoices['Meal Price'].median())

In [27]:
invoices['Meal Price'] = invoices['Meal Price'].astype('int')

In [29]:
'''
    pd.to_datetime takes input in any format and converts it into year-month-day format.
'''
pd.to_datetime('20190108',format='%Y%d%m')

Timestamp('2019-01-08 00:00:00')

In [32]:
pd.to_datetime('yolo 20190108', format = '%Y%d%m', exact = False)

Timestamp('2019-08-01 00:00:00')

In [33]:
invoices['Date of Meal'] = pd.to_datetime(invoices['Date of Meal'], utc = True)

In [51]:
invoices['Date of Meal'].dt.weekday_name

0          Tuesday
1           Monday
2         Saturday
3           Monday
4           Monday
5         Thursday
6        Wednesday
7        Wednesday
8           Monday
9         Thursday
10        Saturday
11          Friday
12         Tuesday
13        Thursday
14        Saturday
15        Thursday
16       Wednesday
17          Friday
18          Sunday
19          Monday
20       Wednesday
21        Thursday
22        Saturday
23         Tuesday
24        Saturday
25        Thursday
26          Monday
27        Saturday
28          Friday
29          Friday
           ...
49987       Monday
49988    Wednesday
49989       Friday
49990       Sunday
49991       Monday
49992       Friday
49993     Saturday
49994       Monday
49995       Monday
49996       Friday
49997     Saturday
49998       Sunday
49999       Monday
50000     Thursday
50001       Monday
50002    Wednesday
50003       Friday
50004       Friday
50005     Saturday
50006      Tuesday
50007     Thursday
50008       Monday
50009     Saturday
50010       Sunday
50011       Sunday
50012     Thursday
50013       Sunday
50014       Friday
50015     Thursday
50016     Saturday
Name: Date of Meal, Length: 50017, dtype: object

In [55]:
'''
    Outputs only for leap years
    can also do - is_leap_year, is_month_start, is_month_end, is_quarter_start, is_quarter_end, is_year_start, is_year_end
'''
invoices['Date of Meal'][invoices['Date of Meal'].dt.is_leap_year]

0       2016-05-31 05:00:00+00:00
9       2016-01-14 21:00:00+00:00
10      2016-10-01 20:00:00+00:00
12      2016-12-13 07:00:00+00:00
14      2016-09-03 12:00:00+00:00
25      2016-06-09 06:00:00+00:00
26      2016-09-26 05:00:00+00:00
31      2016-06-07 20:00:00+00:00
32      2016-05-14 10:00:00+00:00
40      2016-12-12 12:00:00+00:00
48      2016-11-01 19:00:00+00:00
51      2016-11-07 06:00:00+00:00
63      2016-09-23 05:00:00+00:00
65      2016-04-23 18:00:00+00:00
66      2016-04-21 06:00:00+00:00
67      2016-10-03 11:00:00+00:00
71      2016-06-07 11:00:00+00:00
75      2016-11-07 12:00:00+00:00
79      2016-11-29 13:00:00+00:00
86      2016-12-05 21:00:00+00:00
98      2016-02-04 13:00:00+00:00
99      2016-07-14 11:00:00+00:00
105     2016-08-15 06:00:00+00:00
106     2016-05-04 11:00:00+00:00
107     2016-12-22 13:00:00+00:00
111     2016-01-02 19:00:00+00:00
119     2016-08-23 19:00:00+00:00
121     2016-02-23 13:00:00+00:00
124     2016-11-11 20:00:00+00:00
126     2016-04-18 07:00:00+00:00
                   ...
49905   2016-09-06 07:00:00+00:00
49907   2016-01-17 21:00:00+00:00
49908   2016-03-30 11:00:00+00:00
49909   2016-12-07 19:00:00+00:00
49919   2016-04-09 10:00:00+00:00
49920   2016-01-27 21:00:00+00:00
49925   2016-05-10 18:00:00+00:00
49929   2016-01-31 21:00:00+00:00
49936   2016-12-26 21:00:00+00:00
49937   2016-09-10 11:00:00+00:00
49939   2016-09-12 20:00:00+00:00
49941   2016-10-02 11:00:00+00:00
49946   2016-10-30 19:00:00+00:00
49948   2016-03-07 07:00:00+00:00
49949   2016-12-17 11:00:00+00:00
49961   2016-02-11 12:00:00+00:00
49962   2016-12-02 07:00:00+00:00
49966   2016-06-05 18:00:00+00:00
49967   2016-06-24 06:00:00+00:00
49968   2016-06-20 19:00:00+00:00
49975   2016-10-06 07:00:00+00:00
49976   2016-05-11 06:00:00+00:00
49989   2016-08-26 10:00:00+00:00
49994   2016-05-02 07:00:00+00:00
50002   2016-11-09 08:00:00+00:00
50003   2016-12-23 11:00:00+00:00
50005   2016-08-27 07:00:00+00:00
50008   2016-08-08 06:00:00+00:00
50009   2016-03-12 08:00:00+00:00
50010   2016-05-15 20:00:00+00:00
Name: Date of Meal, Length: 9862, dtype: datetime64[ns, UTC]